* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

/* Reusable Flex Container */
.flex-container {
  display: flex;
}

/* Reusable Logo Styling */
.logo {
  width: 20%;
  margin-left: 44px;
  height: 14vh;
}

/* Reusable Image Styling */
.img {
  width: 150px;
}

/* Header Styles */
.header {
  display: flex;
  background: #d6d6d630;
  height: 16vh;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  height: 104px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
  margin-top: -75px;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 100%;
  margin-left: 44px;
  height: 14vh;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #020239;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

/* Indian Railways Logo */
.indianRailwaysLogo {
  justify-content: start;
}

/* IRCTC Logo */
.irctc {
  justify-content: flex-end;
}

.BackgroundImage img {
  width: 100%;
  height: 90vh;
  position: absolute;
}

.headertext {
  position: relative;
  float: left;
  margin-top: 31px;
  margin-left: 24px;
}

.IndianRailwaysText {
  font-size: 36px;
  color: white;
  font-weight: 900;
  margin-right: 41px;
}

.IndianRailwaysOption {
  font-size: 20px;
  color: white;
  font-weight: 900;
  margin-right: 41px;
  text-align: center;
}

.form {
  position: relative;
  background: #ffffffa8;
  width: 41%;
  float: right;
  margin: 99px;
}

input[name="stationList"],
input[name="classes"],
input[name="type_ticket"] {
  width: 232px;
  height: 34px;
  margin: 10px;
  font-size: 15px;
}

input[name="type_ticket"] {
  margin-left: 28px;
}

input[type="date"] {
  width: 100%;
  height: 34px;
  margin: 10px 28px 10px 11px;
  font-size: 15px;
}

input[type="checkbox"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fifthLayer {
  margin-left: 26px;
  font-size: 18px;
  color: black;
}

.firstLayer,
.secondLayer,
.thirdLayer,
.fourthLayer,
.sixthLayer {
  display: flex;
  margin-left: 13px;
}

.search {
  background: #ff8303d4;
  border: none;
  padding: 10px;
  width: 72px;
  margin-left: 12px;
  height: 34px;
  margin: 10px;
  border-radius: 6px;
}

.search a {
  color: black;
  text-decoration: none;
}

.arrow {
  font-size: 20px;
  margin-top: 18px;
  color: darkblue;
}

.inde_image img,
.g20_image img {
  width: 150px;
}

.g20_image img {
  margin-top: 10px;
  margin-left: 13px;
}

.bookTicket h3 {
  color: darkblue;
  font-size: 26px;
  margin-top: 38px;
  margin-left: 13px;
}

/* Second Section */
.SecondSection {
  background-color: #eeeeeef5;
  padding: 16px 0;
}

.title {
  margin: 96vh 0 0 47vw;
}

.box {
  width: 28%;
  border: 1px solid #ccc;
  margin: 22px;
  background: white;
  padding: 10px;
}

.holidayTitle {
  font-size: 26px;
  margin: 13px 0px;
  font-weight: 600;
}

h1 {
  font-size: 42px;
}

.error {
  display: flex;
}

#error1,
#error2 {
  margin-left: 27px;
  color: red;
  font-size: 17px;
}

#error2 {
  margin-left: 57px;
}

.paragraph {
  font-size: 17px;
  line-height: 23px;
  text-align: justify;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 6vw;
}

/* Third Section */
.ThirdSection {
  padding: 14px;
}

.ThirdSectionFlexPart {
  margin: 16px;
  display: flex;
  justify-content: center;
  font-size: 19px;
}

.ThirdSectionFirstLayer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon {
  font-size: 50px;
  border: 1px solid black;
  padding: 17px;
  border-radius: 50%;
}

.icon:hover {
  background: #020239;
  color: white;
  outline: black;
}

.headingType {
  font-size: 23px;
  text-align: center;
  margin-top: 9px;
}

/* footer */
.footer {
  color: white;
  height: 55px;
  text-align: center;
  width: 100%;
}

.footerFirstSection,
.footerSecondSection {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #020239;
  align-items: center;
  height: 100%;
}

.footerSecondSection {
  margin-top: 8px;
  height: 17vh;
  align-items: start;
}

.text {
  font-size: 21px;
}

.socialMediaLink {
  font-size: 27px;
}

/* mobile view */
@media screen and (max-width: 700px) {
  .HeaderIcon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .IndianRailwaysText {
    font-size: 27px;
    color: white;
    font-weight: 900;
    margin-right: 41px;
  }

  .IndianRailwaysOption {
    font-size: 17px;
    color: white;
    font-weight: 900;
    margin-right: 41px;
    text-align: center;
  }

  .form {
    position: relative;
    background: #ffffffa8;
    width: 81%;
    float: right;
    margin: 10px 33px;
  }

  .bookTicket h3 {
    color: darkblue;
    font-size: 15px;
    margin-top: 13px;
    margin-left: 13px;
  }

  .inde_image img,
  .g20_image img {
    width: 53px;
  }

  .secondLayer,
  .thirdLayer,
  .fourthLayer,
  .sixthLayer {
    display: block;
    margin-left: 13px;
  }

  .arrow {
    text-align: center;
    margin-left: 108px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
  }

  input[name="stationList"], input[name="classes"], input[name="type_ticket"] {
      width: 94%;
      height: 34px;
      margin: 3px 2px 3px 2px;
      font-size: 15px;
  }

  input[type="date"] {
    width: 94%;
    height: 34px;
    margin: 3px 2px 3px 2px;
    font-size: 15px;
  }

  .fifthLayer {
    margin-left: 26px;
    font-size: 9px;
    color: black;
  }

  .search {
    background: #ff8303d4;
    border: none;
    padding: 8px;
    font-size: 13px;
    width: 60px;
    margin-left: 12px;
    height: 28px;
    margin: 5px;
    border-radius: 6px;
  }

  .title {
    margin: 94vh 0 0 34vw;
  }

  h1 {
    font-size: 29px;
  }

  .box {
    width: 100%;
  }

  .holidayTitle {
    font-size: 23px;
  }

  .ThirdSectionFlexPart {
    margin: 16px;
    display: flex;
    justify-content: center;
    font-size: 11px;
  }

  .icon {
    font-size: 20px;
    border: 1px solid black;
    padding: 17px;
    border-radius: 50%;
  }

  .flight,
  .Hotel,
  .RAILDRISHTI,
  .e-catering,
  .bus {
    margin: 13px;
  }

  .headingType {
    font-size: 14px;
  }

  .text {
    font-size: 14px;
    margin: 23px;
  }

  .socialMediaLink {
    font-size: 21px;
    margin: 29px;
  }

  .logo {
    width: 28%;
    height: 81px;
  }

  .menu {
    width: 47%;
  }

  .indianRailwaysLogo {
    justify-content: start;
    margin-left: -39px;
    margin-top: 16px;
  }

  .irctc {
    display: none;
  }
}

