*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background: linear-gradient(0deg, rgb(0 0 0 / 79%), rgb(0 0 0 / 30%)), url("../images/contact_us_Image.jpg");
    background-size:cover;
    height: 100vh;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    background: #000000a8;
    padding: 20px;
}
.box h1{
    color:white;
    text-align: center;
}

.box p{
    color: white;
    margin: 27px 0;
    font-size: 17px;
    line-height: 25px;
}
.box p a{
    color: #93a2f7;
}
/* Reusable Flex Container */
.flex-container {
    display: flex;
    width: 100%;
}

/* Reusable Logo Styling */
.logo {
    margin-left: 44px;
    height: 14vh;
}

/* Reusable Image Styling */
.img {
    width: 150px;

}

/* Header Styles */
.header {
    display: flex;
    background: #d6d6d630;
    height:16vh;
}
.menu{
    width:100%;
}
.menu ul{
    display: flex;
    height: 100%;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.menu li {
    font-size: 18px;
}

.menu li a{
    text-decoration: none;
    color: black;
}

.menu li a:hover{
   
    color: darkblue;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: white;
    font-size: 18px;
    border-radius: 10px;

}
/* Indian Railways Logo */
.indianRailwaysLogo {
   
    justify-content: start;
}

/* IRCTC Logo */
.irctc {
    justify-content: flex-end;
}

/* footer */

.footer{
    color: white;
    height: 55px;
    text-align: center;
    width: 100%;

}

.footerFirstSection,.footerSecondSection{
 
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #020239;
    align-items: center;
    height: 100%;

}

.footerSecondSection{
    margin-top: 8px;
    height: 17vh;
    align-items: start;
}


.text{
    font-size: 21px;
}

.socialMediaLink{
    font-size: 27px;
}

